html, body {
  height: 100%;
}

body {
  margin: 0;
}

.carousel-caption p {
  font-size: 30px;
}

.small-img {
  width: 200px;
  height: 100px;
}

img {
  width: 100%;
  height: 50rem;
}

.log-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 241, 241, 0.733);
}

.logo-head {
  width: 200px;
  height: 100px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  /* Setting the focus-within property of the form-floating to the top */
  z-index: 2;
}

.form-signin button {
  background-color: #F6E040;
}

.form-signin button:hover {
  background-color: #ecd41b;
}

.form-signin input[type="email"] {
  /* Set bottom margin to -1 px in order to put the email and password input together */
  margin-bottom: -1px;
  /* Made the bottom right and left corners not rounded */
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  /* Set bottom margin to 10px in order to space the input boxes from the rest of the from */
  margin-bottom: 10px;
  /* Made the top right and left corners not rounded */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 950px) {
  /* For tablets: */
  .carousel-caption p {
    font-size: 0px;
  }
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media only screen and (min-width: 950px) and (max-width: 1072px) {
  
  .carousel-caption p {
    font-size: 20px;
  }
}